[package]
name = "ark-metadata"
version = "0.1.0"
edition = "2021"

[dependencies]
reqwest = { version = "0.11", features = ["json", "native-tls-vendored"] }
serde_json = "1.0"
dotenv = "0.15.0"
serde = "1.0.164"
aws-sdk-dynamodb = "0.29.0"
log = "0.4"
anyhow = "1.0"
